@import "tailwindcss";

/* Основные настройки для интеграции с Tailwind CSS */

body {
  background: var(--jiva-background);
  color: var(--jiva-text);
  font-family: var(--jiva-font-family, Arial, Helvetica, sans-serif);
  margin: 0;
  padding: 0;
}
