:root {
  --color-bg: #232525;
  --color-surface: #18191a;
  --color-primary: #f8fafc;
  --color-secondary: var(--color-tory-blue);
  --color-accent: var(--color-tory-blue); /* Используем tory-blue как accent */
  --color-muted: var(--color-shady-lady);
  --color-border: #44474a;
} 